<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to Collabeya</title>
</head>
<body style="font-family: Arial, sans-serif; color: #151515ff; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 40px auto; background: #bed4ee; padding: 40px; border-radius: 12px;">
        <div style="text-align: center;">
            <img src="cid:{{ logo_cid }}" alt="Collabeya Logo" style="height: 76px; margin-bottom: 20px;" />
        </div>
        <h2 style="color: #151515ff; text-align: center;">Welcome to Collabeya</h2>
        <p style="color: #151515ff;">
            Dear {{ user }},
            <br><br>
            Welcome to <a href="{{ site_url }}" style="color: #1f177cff; text-decoration:none;">Collabeya</a>!<br>
            Your account is now active, and you're ready to start collaborating, messaging, and staying connected with your team.
        </p>
        <br>
        <p style="color: #151515ff;">
            We're excited to have you with us. Jump into your workspace, join channels, and keep your teamwork flowing smoothly!
        </p>
        <p style="color: #6f6f6fff;">
            Happy collaboration,<br>
            Your Collabeya Team.
        </p>
    </div>
</body>
</html>